body, html {
		height: 100%;
	}

.white{
  color : #fff;
}

.bg-pink1{
  background-color : #ffe4f7;
}
.cpink {
	background-color: #ff9bf3;
}
.bg-pink2{
	background-color : #fac3db;
	visibility: inherit;  
}

html {
  /*background-image: url("Background/tumblr_inline_muxx5stTvf1s0gyrx.png");
  background-position: center;
  background-repeat: repeat;
  background-size:;*/
}

.mySlides {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  max-height:
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
}
 
/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}
 
/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}
 
.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

